ConsoleAppObligatorioP3/Service References/OperacionesProveedores/OperacionesProveedores2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13922/OperacionesProveedores.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosObligatorioWCF" />
  <xs:element name="RetornarProveedores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosObligatorioWCF" minOccurs="0" name="RetornarProveedoresResult" nillable="true" type="q1:ArrayOfDTOProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarProveedorPorRut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unRut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarProveedorPorRutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosObligatorioWCF" minOccurs="0" name="RetornarProveedorPorRutResult" nillable="true" type="q2:DTOProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarArancelProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unArancel" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarArancelProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarArancelProveedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPorcentajeVip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unPorcentajeVip" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPorcentajeVipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarPorcentajeVipResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesactivarProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unRut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesactivarProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DesactivarProveedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarProveedoresActivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarProveedoresActivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosObligatorioWCF" minOccurs="0" name="RetornarProveedoresActivosResult" nillable="true" type="q3:ArrayOfDTOProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unNombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unaContrasena" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unRut" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unNomFantasia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unTelefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="esVip" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaProveedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverArancelActual">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverArancelActualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DevolverArancelActualResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverPorcentajeVipActual">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverPorcentajeVipActualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DevolverPorcentajeVipActualResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>