InterfazWeb/Service References/WCF_Servicio/OperacionesServicios3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTipoServicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoServicio" nillable="true" type="tns:TipoServicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoServicio" nillable="true" type="tns:ArrayOfTipoServicio" />
  <xs:complexType name="TipoServicio">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PersistenteOfTipoServiciokMUe2phu">
        <xs:sequence>
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TipoServicio" nillable="true" type="tns:TipoServicio" />
  <xs:complexType name="PersistenteOfTipoServiciokMUe2phu">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PersistenteOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Dominio" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TipoServicio" Namespace="http://schemas.datacontract.org/2004/07/Dominio" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Persistente">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersistenteOfTipoServiciokMUe2phu" nillable="true" type="tns:PersistenteOfTipoServiciokMUe2phu" />
  <xs:complexType name="Persistente">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Persistente" nillable="true" type="tns:Persistente" />
  <xs:complexType name="Proveedor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PersistenteOfProveedorkMUe2phu">
        <xs:sequence>
          <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NomFantasia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rut" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServiciosOfrecidos" nillable="true" type="tns:ArrayOfServicio" />
          <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
          <xs:element minOccurs="0" name="Vip" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Proveedor" nillable="true" type="tns:Proveedor" />
  <xs:complexType name="PersistenteOfProveedorkMUe2phu">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PersistenteOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Dominio" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Proveedor" Namespace="http://schemas.datacontract.org/2004/07/Dominio" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Persistente">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersistenteOfProveedorkMUe2phu" nillable="true" type="tns:PersistenteOfProveedorkMUe2phu" />
  <xs:complexType name="ArrayOfServicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Servicio" nillable="true" type="tns:Servicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicio" nillable="true" type="tns:ArrayOfServicio" />
  <xs:complexType name="Servicio">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PersistenteOfServiciokMUe2phu">
        <xs:sequence>
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RutProveedor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoServicio" nillable="true" type="tns:TipoServicio" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Servicio" nillable="true" type="tns:Servicio" />
  <xs:complexType name="PersistenteOfServiciokMUe2phu">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PersistenteOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Dominio" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Servicio" Namespace="http://schemas.datacontract.org/2004/07/Dominio" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Persistente">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersistenteOfServiciokMUe2phu" nillable="true" type="tns:PersistenteOfServiciokMUe2phu" />
  <xs:complexType name="Usuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PersistenteOfUsuariokMUe2phu">
        <xs:sequence>
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rol" type="tns:Usuario.EnumRol" />
          <xs:element minOccurs="0" name="Sal" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="PersistenteOfUsuariokMUe2phu">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PersistenteOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Dominio" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Usuario" Namespace="http://schemas.datacontract.org/2004/07/Dominio" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Persistente">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersistenteOfUsuariokMUe2phu" nillable="true" type="tns:PersistenteOfUsuariokMUe2phu" />
  <xs:simpleType name="Usuario.EnumRol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Administrador" />
      <xs:enumeration value="Proveedor" />
      <xs:enumeration value="Organizador" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Usuario.EnumRol" nillable="true" type="tns:Usuario.EnumRol" />
</xs:schema>