InterfazWeb/Service References/WCF_Servicio/OperacionesServicios2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13922/OperacionesServicios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosObligatorioWCF" />
  <xs:import schemaLocation="http://localhost:13922/OperacionesServicios.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
  <xs:element name="RetornarServicios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarServiciosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosObligatorioWCF" minOccurs="0" name="RetornarServiciosResult" nillable="true" type="q1:ArrayOfDTOServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTipoServicios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTipoServiciosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosObligatorioWCF" minOccurs="0" name="RetornarTipoServiciosResult" nillable="true" type="q2:ArrayOfDTOTipoServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTipoEventos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTipoEventosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosObligatorioWCF" minOccurs="0" name="RetornarTipoEventosResult" nillable="true" type="q3:ArrayOfDTOTipoEvento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarServiciosProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unRut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarServiciosProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosObligatorioWCF" minOccurs="0" name="RetornarServiciosProveedorResult" nillable="true" type="q4:ArrayOfDTOServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="unProv" nillable="true" type="q5:Proveedor" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="unUsu" nillable="true" type="q6:Usuario" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="unServ" nillable="true" type="q7:Servicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaProveedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarServiciosEnTxt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarServiciosEnTxtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>