ConsoleAppObligatorioP3/Service References/OperacionesProveedoreRef/OperacionesProveedores.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosObligatorioWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosObligatorioWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13922/OperacionesProveedores.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
  <xs:complexType name="ArrayOfDTOProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOProveedor" nillable="true" type="tns:DTOProveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOProveedor" nillable="true" type="tns:ArrayOfDTOProveedor" />
  <xs:complexType name="DTOProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NomFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PorcentajePorVip" type="xs:double" />
      <xs:element minOccurs="0" name="Rut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="Usuario" nillable="true" type="q1:Usuario" />
      <xs:element minOccurs="0" name="Vip" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOProveedor" nillable="true" type="tns:DTOProveedor" />
</xs:schema>