InterfazWeb/Service References/WCF_Proveedor/OperacionesProveedores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OperacionesProveedores" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13922/OperacionesProveedores.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13922/OperacionesProveedores.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13922/OperacionesProveedores.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosObligatorioWCF" />
      <xsd:import schemaLocation="http://localhost:13922/OperacionesProveedores.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOperacionesProveedores_RetornarProveedores_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornarProveedores" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_RetornarProveedores_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornarProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_RetornarProveedorPorRut_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornarProveedorPorRut" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_RetornarProveedorPorRut_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornarProveedorPorRutResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_ModificarArancelProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarArancelProveedor" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_ModificarArancelProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarArancelProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_ModificarPorcentajeVip_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPorcentajeVip" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_ModificarPorcentajeVip_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPorcentajeVipResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_DesactivarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:DesactivarProveedor" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_DesactivarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:DesactivarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_RetornarProveedoresActivos_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornarProveedoresActivos" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_RetornarProveedoresActivos_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornarProveedoresActivosResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_AltaProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaProveedor" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_AltaProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_DevolverArancelActual_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolverArancelActual" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_DevolverArancelActual_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolverArancelActualResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_DevolverPorcentajeVipActual_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolverPorcentajeVipActual" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_DevolverPorcentajeVipActual_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolverPorcentajeVipActualResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_GuardarProvEnTxt_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarProvEnTxt" />
  </wsdl:message>
  <wsdl:message name="IOperacionesProveedores_GuardarProvEnTxt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarProvEnTxtResponse" />
  </wsdl:message>
  <wsdl:portType name="IOperacionesProveedores">
    <wsdl:operation name="RetornarProveedores">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacionesProveedores/RetornarProveedores" message="tns:IOperacionesProveedores_RetornarProveedores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacionesProveedores/RetornarProveedoresResponse" message="tns:IOperacionesProveedores_RetornarProveedores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornarProveedorPorRut">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacionesProveedores/RetornarProveedorPorRut" message="tns:IOperacionesProveedores_RetornarProveedorPorRut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacionesProveedores/RetornarProveedorPorRutResponse" message="tns:IOperacionesProveedores_RetornarProveedorPorRut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarArancelProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacionesProveedores/ModificarArancelProveedor" message="tns:IOperacionesProveedores_ModificarArancelProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacionesProveedores/ModificarArancelProveedorResponse" message="tns:IOperacionesProveedores_ModificarArancelProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPorcentajeVip">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacionesProveedores/ModificarPorcentajeVip" message="tns:IOperacionesProveedores_ModificarPorcentajeVip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacionesProveedores/ModificarPorcentajeVipResponse" message="tns:IOperacionesProveedores_ModificarPorcentajeVip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DesactivarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacionesProveedores/DesactivarProveedor" message="tns:IOperacionesProveedores_DesactivarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacionesProveedores/DesactivarProveedorResponse" message="tns:IOperacionesProveedores_DesactivarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornarProveedoresActivos">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacionesProveedores/RetornarProveedoresActivos" message="tns:IOperacionesProveedores_RetornarProveedoresActivos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacionesProveedores/RetornarProveedoresActivosResponse" message="tns:IOperacionesProveedores_RetornarProveedoresActivos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AltaProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacionesProveedores/AltaProveedor" message="tns:IOperacionesProveedores_AltaProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacionesProveedores/AltaProveedorResponse" message="tns:IOperacionesProveedores_AltaProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DevolverArancelActual">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacionesProveedores/DevolverArancelActual" message="tns:IOperacionesProveedores_DevolverArancelActual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacionesProveedores/DevolverArancelActualResponse" message="tns:IOperacionesProveedores_DevolverArancelActual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DevolverPorcentajeVipActual">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacionesProveedores/DevolverPorcentajeVipActual" message="tns:IOperacionesProveedores_DevolverPorcentajeVipActual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacionesProveedores/DevolverPorcentajeVipActualResponse" message="tns:IOperacionesProveedores_DevolverPorcentajeVipActual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarProvEnTxt">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacionesProveedores/GuardarProvEnTxt" message="tns:IOperacionesProveedores_GuardarProvEnTxt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacionesProveedores/GuardarProvEnTxtResponse" message="tns:IOperacionesProveedores_GuardarProvEnTxt_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOperacionesProveedores" type="tns:IOperacionesProveedores">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornarProveedores">
      <soap:operation soapAction="http://tempuri.org/IOperacionesProveedores/RetornarProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarProveedorPorRut">
      <soap:operation soapAction="http://tempuri.org/IOperacionesProveedores/RetornarProveedorPorRut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarArancelProveedor">
      <soap:operation soapAction="http://tempuri.org/IOperacionesProveedores/ModificarArancelProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPorcentajeVip">
      <soap:operation soapAction="http://tempuri.org/IOperacionesProveedores/ModificarPorcentajeVip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesactivarProveedor">
      <soap:operation soapAction="http://tempuri.org/IOperacionesProveedores/DesactivarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarProveedoresActivos">
      <soap:operation soapAction="http://tempuri.org/IOperacionesProveedores/RetornarProveedoresActivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaProveedor">
      <soap:operation soapAction="http://tempuri.org/IOperacionesProveedores/AltaProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverArancelActual">
      <soap:operation soapAction="http://tempuri.org/IOperacionesProveedores/DevolverArancelActual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverPorcentajeVipActual">
      <soap:operation soapAction="http://tempuri.org/IOperacionesProveedores/DevolverPorcentajeVipActual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarProvEnTxt">
      <soap:operation soapAction="http://tempuri.org/IOperacionesProveedores/GuardarProvEnTxt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OperacionesProveedores">
    <wsdl:port name="BasicHttpBinding_IOperacionesProveedores" binding="tns:BasicHttpBinding_IOperacionesProveedores">
      <soap:address location="http://localhost:13922/OperacionesProveedores.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>