ConsoleAppObligatorioP3/Service References/RetornarServiciosRef/RetornarServicios2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13922/RetornarServicios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosObligatorioWCF" />
  <xs:element name="RetornarServicios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarServiciosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosObligatorioWCF" minOccurs="0" name="RetornarServiciosResult" nillable="true" type="q1:ArrayOfDTOServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>