ConsoleAppObligatorioP3/Service References/OperacionesServiciosRef/OperacionesServicios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OperacionesServicios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13922/OperacionesServicios.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13922/OperacionesServicios.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13922/OperacionesServicios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosObligatorioWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOperacionesServicios_RetornarServicios_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornarServicios" />
  </wsdl:message>
  <wsdl:message name="IOperacionesServicios_RetornarServicios_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornarServiciosResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacionesServicios_RetornarServiciosProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornarServiciosProveedor" />
  </wsdl:message>
  <wsdl:message name="IOperacionesServicios_RetornarServiciosProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornarServiciosProveedorResponse" />
  </wsdl:message>
  <wsdl:portType name="IOperacionesServicios">
    <wsdl:operation name="RetornarServicios">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacionesServicios/RetornarServicios" message="tns:IOperacionesServicios_RetornarServicios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacionesServicios/RetornarServiciosResponse" message="tns:IOperacionesServicios_RetornarServicios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornarServiciosProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacionesServicios/RetornarServiciosProveedor" message="tns:IOperacionesServicios_RetornarServiciosProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacionesServicios/RetornarServiciosProveedorResponse" message="tns:IOperacionesServicios_RetornarServiciosProveedor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOperacionesServicios" type="tns:IOperacionesServicios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornarServicios">
      <soap:operation soapAction="http://tempuri.org/IOperacionesServicios/RetornarServicios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarServiciosProveedor">
      <soap:operation soapAction="http://tempuri.org/IOperacionesServicios/RetornarServiciosProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OperacionesServicios">
    <wsdl:port name="BasicHttpBinding_IOperacionesServicios" binding="tns:BasicHttpBinding_IOperacionesServicios">
      <soap:address location="http://localhost:13922/OperacionesServicios.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>